
!*.tfvars.example
!.env.example
# Terraform
**/.terraform/*
*.py[cod]
*.tfstate
*.tfstate.*
*.tfvars
.DS_Store
.coverage
.env
.env.*
.pytest_cache/
.venv/
__pycache__/
crash.log
dump.rdb
venv/
reports/
